@Model Asignatura

@{
    ViewData["Title"] = "Información de la Asignatura";
    Layout = "Simple";
}

<div>
    <h1>@ViewData["Title"]</h1>

    <p>
        Name : @Model.Nombre
        Codigo : @Model.UniqueId
    </p>

    <p><em> @ViewBag.Information </em></p>
    <p>
        Hora Bogota: @ViewBag.Fecha
    </p>
</div>
